- if Gitlab.com? && Feature.enabled?(:integration_slack_app_notifications)
  = render Pajamas::AlertComponent.new(title: _('Slack notifications integration is deprecated'),
    variant: :warning,
    dismissible: false,
    alert_options: { class: 'gl-mt-5', data: { testid: "slack-notifications-deprecation" } }) do |c|
    = c.body do
      - help_page_link = help_page_url('user/project/integrations/gitlab_slack_application')
      - learn_more_link = '<a href="%{url}" target="_blank" rel="noopener noreferrer">'.html_safe % { url: help_page_link }

      = html_escape(s_('The Slack notifications integration is deprecated and will be removed in a future release. To continue to receive notifications from Slack, use the GitLab for Slack app instead. %{learn_more_link_start}Learn more%{link_end}.')) % { learn_more_link_start: learn_more_link, link_end: '</a>'.html_safe }
